Repository microsoftgraph/microsoft-graph-devx-api, pull requests merged in 2020-10, with the labels that each got.

#328 Multiple namespace in objective c snippets
  CodeSnippetsReflection.Test/ObjectiveCGeneratorShould.cs
  CodeSnippetsReflection/LanguageGenerators/ObjectiveCGenerator.cs
Labels: snippet generation issue

#334 Fix test runs
  CodeSnippetsReflection.Test/CodeSnippetsReflection.Test.csproj
  PermissionsService.Test/PermissionsService.Test.csproj
  SamplesService.Test/SamplesService.Test.csproj
  pipelines/release.yml
  pipelines/validatePR.yml
Labels: bug

#348 Fix reference assignment
  CodeSnippetsReflection/LanguageGenerators/CSharpGenerator.cs
Labels: snippet generation issue

#347 Assign correct property name
  CodeSnippetsReflection/LanguageGenerators/CSharpGenerator.cs
Labels: snippet generation issue

#362 - fixes a bug where java snippets should be using input streams
  CodeSnippetsReflection.Test/JavaGeneratorShould.cs
  CodeSnippetsReflection/LanguageGenerators/JavaGenerator.cs
Labels: java
