Repository microsoftgraph/microsoft-graph-devx-api, pull requests merged in 2020-05, with the labels that each got.

#238 Fixes fetching localized sample queries
  GraphExplorerSamplesService/Models/SampleQueryModel.cs
  GraphExplorerSamplesService/Services/SamplesService.cs
  GraphWebApi/Controllers/GraphExplorerSamplesController.cs
  SamplesService.Test/SampleQueryModelShould.cs
  SamplesService.Test/SamplesServiceShould.cs
Labels: bug

#240 Adds a root path to the OpenAPI description for GEAutocomplete
  Microsoft.OpenApi.OData.Reader/Generator/OpenApiPathItemGenerator.cs
  Microsoft.OpenApi.OData.Reader/OpenApiConvertSettings.cs
  OpenAPIService/Common/OpenApiStyleOptions.cs
  OpenAPIService/OpenApiService.cs
Labels: Autocomplete endpoint

#236 Code Snippet Generation Fixes
  CodeSnippetsReflection.Test/CSharpGeneratorShould.cs
  CodeSnippetsReflection.Test/CommonGeneratorShould.cs
  CodeSnippetsReflection.Test/JavaGeneratorShould.cs
  CodeSnippetsReflection.Test/ObjectiveCGeneratorShould.cs
  CodeSnippetsReflection/LanguageGenerators/CSharpGenerator.cs
  CodeSnippetsReflection/LanguageGenerators/CommonGenerator.cs
  CodeSnippetsReflection/LanguageGenerators/JavaGenerator.cs
  CodeSnippetsReflection/LanguageGenerators/ObjectiveCGenerator.cs
  CodeSnippetsReflection/SnippetsGenerator.cs
Labels: snippet generation issue

#235 Adds caching of samples and permissions files
  FileService/Common/FileServiceHelper.cs
  GraphExplorerPermissionsService/GraphExplorerPermissionsService.csproj
  GraphExplorerPermissionsService/Interfaces/IPermissionStore.cs
  GraphExplorerPermissionsService/Services/PermissionsStore.cs
  GraphWebApi/Controllers/GraphExplorerPermissionsController.cs
  GraphWebApi/Controllers/GraphExplorerSamplesController.cs
  GraphWebApi/appsettings.json
  PermissionsService.Test/PermissionsService.Test.csproj
  PermissionsService.Test/PermissionsStoreShould.cs
Labels: Feature, Graph-Explorer

#248 Support OpenTypes and Doubles in snippet generation
  CodeSnippetsReflection.Test/CSharpGeneratorShould.cs
  CodeSnippetsReflection/LanguageGenerators/CSharpGenerator.cs
  CodeSnippetsReflection/TypeProperties/CSharpTypeProperties.cs
Labels: snippet generation issue

#250 Add support for TimeOfDay, Boolean and Float
  CodeSnippetsReflection/LanguageGenerators/CSharpGenerator.cs
Labels: snippet generation issue

#249 Disambiguate class names that end with Request in snippet generation
  CodeSnippetsReflection/LanguageGenerators/CSharpGenerator.cs
  CodeSnippetsReflection/TypeProperties/CSharpTypeProperties.cs
Labels: snippet generation issue

#251 Select statements are sent as query string parameters in SDK
  CodeSnippetsReflection.Test/CommonGeneratorShould.cs
  CodeSnippetsReflection/LanguageGenerators/CSharpGenerator.cs
Labels: snippet generation issue

#253 Handle TypeSegment in URL
  CodeSnippetsReflection/LanguageGenerators/CSharpGenerator.cs
  CodeSnippetsReflection/SnippetModel.cs
Labels: snippet generation issue

#252 Handle JToken in snippet generation
  CodeSnippetsReflection/LanguageGenerators/CSharpGenerator.cs
  CodeSnippetsReflection/TypeProperties/CSharpTypeProperties.cs
Labels: snippet generation issue

#245 Formats paths function placeholder values in Graph OpenAPI spec.
  GraphWebApi/Controllers/OpenApiController.cs
  MSGraphWebApi.sln
  OpenAPIService.Test/OpenAPIDocumentCreatorMock.cs
  OpenAPIService.Test/OpenAPIService.Test.csproj
  OpenAPIService.Test/OpenAPIServiceShould.cs
  OpenAPIService.Test/TestFiles/Graph.Beta.OData.xml
  OpenAPIService/OpenApiService.cs
  PermissionsService.Test/AzureBlobStorageUtilityMock.cs
Labels: PowerShell, bug, openapi-service

#258 Snippet Generation Fixes
  CodeSnippetsReflection/LanguageGenerators/CSharpGenerator.cs
  CodeSnippetsReflection/SnippetModel.cs
Labels: snippet generation issue
